####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# IntelliJ IDEA
####################################
.idea/
*.iws
*.iml
*.ipr
out/

####################################
# VS Code
####################################
.vscode/

####################################
# Maven / Java
####################################
target/
**/target/

####################################
# Logs
####################################
*.log

####################################
# Node / Frontend
####################################
node_modules/
dist/
build/

####################################
# Environment files
####################################
.env
.env.local
.env.*.local
